@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: black;
  font-weight: bold;
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
  display: table;
  font-family: 'Open Sans', sans-serif;
}

/* top-bar */

p {
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

select,
button {
  line-height: initial !important;
}

ul {
  margin-top: 1em !important;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out !important;
}

.fade {
  transition: opacity .15s linear;
}

.addNewButton {
  width: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px !important;
  border-radius: 5px !important;
  border-color: #198754 !important;
  transition: 0.2s ease-in-out;
  color: #202020 !important;
  margin: 10px 0px;
}

.addNewButton:hover {
  background-color: #81b19b64 !important;
  color: #202020 !important;
}

.ContentWrapper {
  min-height: 100vh;
  width: calc(100% - 250px);
  margin-left: auto;
  margin-bottom: 60px;
}


.sideBar-container {
  display: flex;
  height: 100vh;
  overflow: scroll initial;
  position: fixed;
  bottom: 0;
  z-index: 10;
  box-shadow: 3px -1px 8px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 3px -1px 8px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 3px -1px 8px 0px rgba(0, 0, 0, 0.11);
}

.sideBar-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.sideBar-footer a {
  width: 100%;
  height: 60px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 15px;
  color: #000000;
  text-decoration: none;
}

.sideBar-footer-closed a {
  justify-content: center;
  padding-left: 0px;
}

.sideBar-footer-closed a span {
  display: none;
}

.sideBar-active {
  background-color: #D2E2FD;
  position: relative;
}

.sideBar-active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 8px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #18202D;
}


.kdnwZJ {
  width: 250px !important;
  min-width: 250px !important;
}

.sideBar-logo {
  width: 90%;
  height: 100px;
  margin-top: 70px;
}

/* .navBar {
  background-color: #1d2635;
  padding: 5px;
  height: 90px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.nav-ham-container .ham {
  padding: 15px;
  outline: 2px solid rgb(191, 191, 191);
  border-radius: 5px;
  cursor: pointer;
}

.nav-ham-container .ham div {
  width: 26px;.Nav
  height: 3px;
  background-color: rgb(202, 202, 202);
  margin-bottom: 4px;
}

.nav-ham-container {
  display: inline-block;
  float: right;
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
} */

/* end-top-bar */

/* page header */

.pageHeader {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 15px;
}

.pageHeader .pageHeader-icon {
  font-size: 35px;
  margin-top: 5px;
}

.pageHeader .pageHeader-title {
  display: flex;
  color: #000000;
  margin-left: 20px;
}

.pageHeader .pageHeader-title h1 {
  font-size: 35px;
}

.pageHeader .pageHeader-title p {
  font-weight: 400;
  font-size: 15px;
}

.pageHeader .pageHeader-title img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 9px;
}

/* end page header */

/* nav menu */

.user-card {
  color: white;
  width: 210px;
  border-radius: 10px;
  display: inline-block;
}

.user-img-top-bar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  float: left;
}

.user-name {
  color: white;
  font-size: 12px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-name p {
  margin-left: 2% !important;
}

.nav-menu {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.nav-menu .option {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 20px;
  color: rgb(170, 170, 170);
}

.nav-menu .option:hover {
  color: rgb(212, 212, 212);
}

/* user-card-end */

/* dashboard */
.dashboard {
  /* margin: auto;
  height: auto;
  width: 90%;
  padding: 15px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 25px;
}

.dashboard-buttonsSection {
  display: flex;
  justify-content: space-around;
}

.dashboard-buttonsSection button {
  height: 70px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #D2E2FD;
  font-size: 20px;
  font-weight: 700;
}

.dashboard-buttonsSection button:nth-of-type(1) {
  background-color: #86B3FC;
}

.dashboard-buttonsSection button div {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-buttonsSection button div .separator {
  border: thin solid #3840471d;
  border-radius: 10px;
  height: 50%;
  display: inline-block;
}

.userRecentAccess-Container {
  margin-top: 20px;
  width: 100%;
}

.userOperations-recent {
  width: 100%;
}

.userTargets-recent {
  width: 100%;
}

.userOperations-recent h4 {
  margin-left: 20px;
  font-weight: 400;
}

.userTargets-recent h4 {
  margin-left: 20px;
  font-weight: 400;
  width: 90%;
}

.recentPosts-container {
  margin-left: 20px;
  width: 95%;
  position: relative;
}

.recentPosts-container .recentPostsCard-container {
  display: flex;
  justify-content: space-between;
}

.recentPosts-container .recentPostsCard-container .postCard {
  width: 49%;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.15);
}

.recentPosts-container .recentPostsCard-container .postCard .postCard-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recentPosts-container .recentPostsCard-container .postCard img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
}

.recentPosts-container .recentPostsCard-container .postCard .postCard-content .postCard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recentPosts-container .recentPostsCard-container .postCard .postCard-content .postCard-text h5 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 18px;
  color: #1d2635;
}

.recentPosts-container .recentPostsCard-container .postCard .postCard-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.recentPosts-container .recentPostsCard-container .postCard .postCard-buttonContainer .postCard-button {
  height: 60px;
  width: 90%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.recentTargets-container {
  margin-left: 20px;
  width: 95%;
  position: relative;
}

.recentTargets-container .recentTargetsCard-container {
  display: flex;
  justify-content: space-between;
}

.recentTargets-container .recentTargetsCard-container .targetCard {
  width: 49%;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.15);
}

.recentTargets-container .recentTargetsCard-container .targetCard .targetCard-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recentTargets-container .recentTargetsCard-container .targetCard img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
}

.recentTargets-container .recentTargetsCard-container .targetCard .targetCard-content .targetCard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recentTargets-container .recentTargetsCard-container .targetCard .targetCard-content .targetCard-text h5 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 18px;
  color: #1d2635;
}

.recentTargets-container .recentTargetsCard-container .targetCard .targetCard-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.recentTargets-container .recentTargetsCard-container .targetCard .targetCard-buttonContainer .targetCard-button {
  height: 60px;
  width: 90%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

/* end-dashboard */

.ConstRadius {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}

/* operations */
.Operations {
  margin: auto;
  height: auto;
  width: 90%;
}

.SearchContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.SearchContainer .SearchContainer-select,
.SearchContainer .SearchContainer-search {
  width: 45%;
  display: flex;
  flex-wrap: nowrap;
}


.SearchContainer button,
input,
select {
  border: 1px #e0e0e0 solid;
  border-radius: 1px;
  font-size: 15px;
  white-space: nowrap;
}

.SearchContainer button {
  color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.SearchContainer select {
  background-color: white;
  width: 15rem;
}

.targetsSearchContainer select {
  background-color: white;
  width: 26rem;
}

.SearchContainer input:focus {
  outline: none;
}

.SearchContainer .SearchInputContainer {
  position: relative;
}

.SearchContainer .SearchInputContainer .Search {
  width: 100%;
  border-radius: 100px;
  padding: 15px 20px;
  box-shadow: 2px 2px 9px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 2px 2px 9px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 2px 2px 9px -4px rgba(0, 0, 0, 0.42);
}

.SearchContainer .SearchInputContainer svg {
  position: absolute;
  right: 30px;
  bottom: 25%;
}

.SearchContainer .NewObject {
  border-radius: 5px;
  width: 9.5rem;
  background-color: #324ab2;
  color: white;
}

.SearchContainer .NewObject:hover {
  cursor: pointer;
}

.OperationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.OperationCardContainer {
  border: #e0e0e0 1px solid;
  width: 49%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.OperationCardContainer-OperationsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.OperationCard-name {
  position: absolute;
  bottom: -17px;
  left: 0px;
  background-color: #324ab2;
  padding: 5px;
  font-size: 20px;
  border-top-right-radius: 3px;
  color: white;
}

.OperationCardContainer .OperationImg {
  width: 100%;
  height: 250px;
}

.OperationCardContainer .OperationImg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.OperationDescription {
  padding: 5px;
}

.OperationCardContainerButton {
  width: 100%;
  background-color: #324ab2;
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.OperationCardContainerButton:hover {
  cursor: pointer;
}

.SearchContainer div:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.NewOperationButton {
  height: 60px;
  width: 35%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-left: auto;
}

.newOperation-TargetCard p {
  font-weight: 600;
  font-size: 22px;
  color: #202020;
}

.SearchContainer div {
  width: 100%;
}

.btn:first-child:hover,
:not(.btn-check)+.btn:hover {
  color: #000000;
}

.dropdown-toggle::after {
  display: none;
}

.SearchContainer div input,
.SearchContainer div select {
  width: 100% !important;
}

.SearchContainer div:nth-of-type(2) {
  margin-left: 0px;
}

/* end-operations */

/* operation card */

.OperationCard-container img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-right: 15px;
  object-fit: cover;
}

.OperationCard-container #OperationCardContent-container {
  display: flex;
}

.OperationCard-container .OperationDescription {
  margin-right: auto;
}

.OperationCard-container .OperationDescription .OperationDescription-title {
  color: rgb(55, 55, 127);
  font-size: 20px;
}

.OperationCard-container .OperationDescription .OperationDescription-date {
  color: rgb(140, 140, 140);
  font-weight: 500;
}

.OperationCard-container .OperationDescription .OperationDescription-description {
  padding-top: 45px;
}

.OperationCardContainerStatus {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OperationCardContainerStatus .OperationCardContainerStatus-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  margin: 30px 0px;
}

.OperationCardContainerStatus .OperationCardContainerStatus-container div {
  font-size: 20px;
}

.OperationCardDashboardContainerButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OperationCardDashboardContainerButton .OperationCardDashboardContainerButton-button {
  height: 60px;
  width: 45%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

/* end operation card */

/* operation card dashboard */

.OperationCardDashboard-container {
  display: flex;
}

.OperationCardDashboard-container img {
  width: 40%;
  height: 200px;
  border-radius: 20px;
  margin-right: 15px;
  object-fit: cover;
}

.OperationCardDashboard-container .OperationDescription {
  margin-right: auto;
}

.OperationCardDashboard-container .OperationDescription .OperationDescription-title {
  color: rgb(55, 55, 127);
}

.OperationCardDashboard-container .OperationDescription .OperationDescription-date {
  color: rgb(140, 140, 140);
  font-weight: 500;
}

.OperationCardDashboard-container .OperationDescription .OperationDescription-description {
  padding-top: 45px;
}

.OperationCardDashboardContainerStatus {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OperationCardDashboardContainerStatus .OperationCardDashboardContainerStatus-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 30px 0px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
}

.OperationCardDashboardContainerStatus .OperationCardDashboardContainerStatus-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OperationCardDashboardContainerStatus .OperationCardDashboardContainerStatus-container .separator {
  border: thin solid #38404719;
  border-radius: 10px;
  height: 80%;
  display: inline-block;
}

.OperationCardDashboardContainerButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OperationCardDashboardContainerButton .OperationCardDashboardContainerButton-button {
  height: 60px;
  width: 90%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

/* end operation card dashboard */

/* targets */
.Targets {
  margin: auto;
  height: auto;
  width: 90%;
}

.TargetsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.TargetCardContainer {
  border: #e0e0e0 1px solid;
  float: left;
  width: 49%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.TargetCardContainer .TargetCard-Container img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.TargetCard-Container #TargetCardContent-container {
  display: flex;
}

.TargetCard-Container .TargetDescription {
  margin-right: auto;
}

.TargetCard-Container .TargetDescription .TargetDescription-title {
  color: rgb(55, 55, 127);
  font-size: 20px;
}

.TargetCard-Container .TargetDescription .TargetDescription-date {
  color: rgb(140, 140, 140);
  font-weight: 500;
}

.TargetCard-Container .TargetDescription .TargetDescription-description {
  padding-top: 45px;
}

.TargetCardContainerStatus {
  width: 100%;
  display: flex;
  justify-content: center;
}

.TargetCardContainerStatus .TargetCardContainerStatus-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  margin: 30px 0px;
}

.OperationCardContainerStatus .OperationCardContainerStatus-container div {
  font-size: 20px;
}

.TargetCardDashboardContainerButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.TargetCardDashboardContainerButton .TargetCardDashboardContainerButton-button {
  height: 60px;
  width: 45%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

/* end-targets */

/* targets dashboard */

.TargetCardDashboard-container {
  display: flex;
}

.TargetCardDashboard-container img {
  width: 40%;
  height: 200px;
  border-radius: 20px;
  margin-right: 15px;
  object-fit: cover;
}

.TargetCardDashboard-container .TargetDescription {
  margin-right: auto;
}

.TargetCardDashboard-container .TargetDescription .TargetDescription-title {
  color: rgb(55, 55, 127);
}

.TargetCardDashboard-container .TargetDescription .TargetDescription-date {
  color: rgb(140, 140, 140);
  font-weight: 500;
}

.TargetCardDashboard-container .TargetDescription .TargetDescription-description {
  padding-top: 45px;
}

.TargetCardDashboardContainerStatus {
  width: 100%;
  display: flex;
  justify-content: center;
}

.TargetCardDashboardContainerStatus .TargetCardDashboardContainerStatus-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 30px 0px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
}

.TargetCardDashboardContainerStatus .TargetCardDashboardContainerStatus-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TargetCardDashboardContainerStatus .TargetCardDashboardContainerStatus-container .separator {
  border: thin solid #38404719;
  border-radius: 10px;
  height: 80%;
  display: inline-block;
}

.TargetCardDashboardContainerButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.TargetCardDashboardContainerButton .TargetCardDashboardContainerButton-button {
  height: 60px;
  width: 45%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

/* end targets dashboard */

/* TargetProfile */
.TargetProfile {
  height: auto;
  width: 100%;
}

.TargetProfile .TargetProfileContent {
  width: 90%;
  margin: auto;
}

.TargetProfile .TargetProfileContent .TargetProfileCardContainer {
  width: 100%;
}

.TargetProfile .TargetProfileInfo {
  width: 100%;
  background-color: #000000;
  background-image: url("../imgs/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.TargetProfile .TargetProfileHeader {
  height: 300px;
  display: flex;
  border: 2px solid #c7c7c767;
  border-radius: 10px;
}

.TargetProfile .TargetProfileInfo ul {
  list-style: none;
  font-weight: 500;
}

.TargetProfileSlider {
  width: 100%;
  margin-top: 20px;
}

.TargetProfile .SearchContainer {
  margin: 20px;
}

.TargetProfile .SearchContainer .NewObject {
  width: 8.5rem;
}

.TargetProfile .OptionsContainer {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-top: -20px !important;
}

.TargetProfile .OptionsContainer li {
  float: left;
  width: 25%;
}

.TargetProfile .OptionsContainer li a {
  display: block;
  background-color: #1d2635;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border-right: 2px solid rgb(158, 158, 158);
  border-bottom: 2px solid rgb(158, 158, 158); */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.TargetProfile .OptionsContainer li a:hover {
  background-color: #324ab2;
  color: white;
}

/* TargetProfile-end */

/* NoteCard */

.NoteCardContainer {
  width: 47%;
  text-align: center;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px;
  border: #e0e0e0 1px solid;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.NoteCardContainer hr {
  width: 100%;
  color: rgba(43, 42, 42, 0.514);
}

.NoteTitle {
  display: flex;
  align-items: center;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.NoteTitle img {
  width: 40px;
  border-radius: 100px;
  border: none;
  margin-right: 12px;
}

.NoteTitle p:nth-of-type(1) {
  font-weight: 500;
  padding-left: 5px;
}

.NoteTitle p:nth-of-type(2) {
  font-weight: 500;
  font-size: 12px;
  padding-left: 10px;
}

.NoteContent {
  text-align: left;
  padding: 20px;
  font-size: 13px;
}

.BtnNote {
  width: 100%;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #324ab2;
  padding: 10px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TargetProfile .RelationSlide {
  height: auto;
  padding-top: 20px;
}

/* NoteCard-end */

/* Operation profile */

.OperationProfile {
  height: auto;
  width: 100%;
}

.OperationProfileContent {
  margin: auto;
  width: 90%;
  margin-top: 30px;
}

.PostsSlide {
  height: auto;
}

.OperationProfile .OperationProfileInfo {
  width: 100%;
  background-color: #000000;
  background-image: url("../imgs/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.OperationProfile .OperationProfileInfo ul {
  font-size: 15px;
}

.OperationProfile .OperationProfileInfo ul li:nth-of-type(1) {
  font-size: 23px;
}

.OperationProfile .OperationProfileInfo ul li:nth-of-type(2) {
  font-size: 18px;
}

.OperationProfile .OperationProfileInfo ul li:nth-of-type(3) {
  margin-top: 10px;
}



.OperationProfile .OperationProfileHeader {
  height: 300px;
  display: flex;
  border: 2px solid #c7c7c767;
  border-radius: 5px;
}

.OperationProfile .OperationProfileInfo ul {
  list-style: none;
  font-weight: 500;
}

.OperationProfileSlider {
  width: 100%;
  margin-top: 20px;
}

.OperationProfileSlider .profile-slider-btn {
  display: inline-block;
  margin-left: 10px;
  width: 30%;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

.OperationProfile .SearchContainer {
  margin: 20px;
}

.OperationProfile .SearchContainer .NewObject {
  width: 8.5rem;
}

.OperationProfile .TargetsSlide {
  height: auto;
  padding-top: 20px;
}

.OperationProfile .SettingsCard {
  border-radius: 5px;
  min-height: 150vh;
  padding: 50px;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.OperationProfile .SettingsCard .SettingsCard-Header {
  font-size: 25px;
  color: #324ab2;
}

.OperationProfile .SettingsCard .SettingsCard-Content {
  margin-top: 40px;
}

.OperationProfile .SettingsCard .SettingsCard-Content .AddMember .AddMember-Header {
  font-size: 20px;
}

.OperationProfile .SettingsCard .SettingsCard-Content .AddMember .AddMember-Body {
  font-weight: 500;
}

.OperationProfile .SettingsCard .SettingsCard-Content .SwitchState {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OperationProfile .SettingsCard .SettingsCard-Content .SwitchState .SwitchState-Header {
  font-size: 20px;
}

.OperationProfile .SettingsCard .SettingsCard-Content .SwitchState .SwitchState-Body {
  font-weight: 500;
  width: 90%;
}

.OperationProfile .SettingsCard .SettingsCard-Content .SwitchState #SwitchState-SwitchButton {
  font-size: 1.5rem;
  transition: background-position .15s ease-in-out !important;
}

.OperationProfile .SettingsCard .SettingsCard-Content .SwitchState #SwitchState-SwitchButton:checked {
  background-color: #18202D;
  border: none;
}

.OperationProfile .SettingsCard .SettingsCard-Content .SwitchState #SwitchState-SwitchButton:focus {
  border: none;
  box-shadow: 0 0 0 0.25rem rgba(25, 28, 32, 0.25);
}

.OperationProfile .SettingsCard .SettingsCard-Content .UpdateInfo {
  margin-top: 50px;
}

.OperationProfile .SettingsCard .SettingsCard-Content .UpdateInfo .UpdateInfo-Header {
  font-size: 20px;
}

.OperationProfile .SettingsCard .SettingsCard-Content .UpdateInfo .UpdateInfo-Body {
  font-weight: 500;
  width: 90%;
}

.OperationProfile .SettingsCard .SettingsCard-Content .DeleteOperation .DeleteOperation-Header {
  font-size: 20px;
}

.OperationProfile .SettingsCard .SettingsCard-Content .DeleteOperation .DeleteOperation-Body {
  font-weight: 500;
  width: 90%;
}

.OperationProfile .Post {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e1e1e1c4;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.OperationProfile .Post .PostAuthContainer {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.OperationProfile .Post .PostAuthImage {
  width: 40px;
  border-radius: 100px;
  border-right: none;
  margin-right: 12px;
}

.OperationProfile .Post .PostAuthContainer p {
  margin: 5px 0px !important;
}

.OperationProfile .Post .PostAuthContainer p:nth-of-type(2) {
  font-weight: 400;
  font-size: 13px;
}

.OperationProfile .Post .PostAuthContainer .PostDeleteIcon {
  margin-left: auto;
  margin-right: 20px;
}

.OperationProfile .Post .PostAuthContainer .PostDeleteIcon img {
  width: 22px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.OperationProfile .Post .PostAuthContainer .PostDeleteIcon img:hover {
  transform: translateY(-5px);
}

.OperationProfile .Post .Postauthor {
  margin: 5px;
}

.OperationProfile .Post .PostTitle {
  font-size: 20px;
  color: #18202D;
}

.OperationProfile .Post .PostContent {
  color: rgb(88, 88, 88);
  margin: 5px;
}

.OperationProfile .Post hr {
  width: 100%;
  color: rgba(43, 42, 42, 0.514);
}

.OperationProfile .Post .PostInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.OperationProfile .Post .PostInputContainer .PostInput {
  width: 95%;
  height: 40px;
  padding: 10px;
  border-radius: 100px;
  background-color: rgba(185, 185, 185, 0.297);
}

.OperationProfile .Post .PostInputContainer .PostInputIcon {
  width: 16px;
  position: absolute;
  right: 50px;
  bottom: 25%;
  cursor: pointer;
}

.OperationProfile .Post .PostComments {
  color: rgb(88, 88, 88);
  margin: 5px;
  font-size: 13px;
}

.OperationProfile .OptionsContainer {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(251, 251, 251);
  margin-top: -20px !important;
}

.OperationProfile .OptionsContainer li {
  float: left;
  width: 25%;
}

.OperationProfile .OptionsContainer li a {
  display: block;
  background-color: #1d2635;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border-right: 2px solid rgb(158, 158, 158);
  border-bottom: 2px solid rgb(158, 158, 158); */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.OperationProfile .OptionsContainer li a:hover {
  background-color: #324ab2;
  color: white;
}

.dropdown {
  margin: 5px 0px;
}

.NewTargetButton,
.NewTaskButton,
.NewPostButton,
.NewMemberButton,
.UpdateInfoButton {
  height: 60px;
  width: 100%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
}

.DeleteOperationButton {
  height: 60px;
  width: 100%;
  background-color: #fb2323;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
}

/* end operation profile */

/* post comments */

.OperationProfile .Comment {
  border: 1px solid #e1e1e1c4;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 15px;
}

.OperationProfile .Comment .CommentAuthContainer {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.OperationProfile .Comment .CommentAuthImage {
  width: 40px;
  border-radius: 100px;
  border-right: none;
  margin-right: 12px;
}

.OperationProfile .Comment .CommentAuthContainer p:nth-of-type(2) {
  font-weight: 400;
  font-size: 13px;
  padding-left: 12px;
}

.OperationProfile .Comment .CommentAuthContainer .CommentDottedIcon {
  margin-left: auto;
}

.OperationProfile .Comment .CommentAuthContainer .CommentDottedIcon .DropDownToggle {
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: black;
}

.OperationProfile .Post .CommentAuthContainer .CommentDottedIcon .DropDownToggle::after {
  display: none;
}

/* end post comments */

.TaskCardContainer {
  width: 47%;
  text-align: center;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px;
  border: #e0e0e0 1px solid;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.TaskTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.TaskCardContainer hr {
  width: 100%;
  color: rgba(43, 42, 42, 0.514);
}

.TaskTitle img {
  width: 40px;
  border-radius: 100px;
  border-right: none;
  margin-right: 12px;
}

.TaskTitle p {
  margin: 5px 0px !important;
}

.TaskTitle p:nth-of-type(2) {
  font-weight: 400;
  font-size: 13px;
  color: #8a97a0;
}

.TaskContent {
  text-align: left;
  padding: 10px;
  font-size: 13px;
}

.BtnTask {
  width: 80%;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #18202D;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 20px 0px;
}

.TaskAgent {
  text-align: left;
  color: rgb(88, 88, 88);
  padding: 0px 10px;
  font-size: 13px;
}

.TaskDottedIcon {
  margin-left: auto;
}

.TaskDottedIcon .DropDownToggle {
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: black;
}

.TaskDottedIcon .DropDownToggle::after {
  display: none;
}

.TaskDottedIcon .DropDownToggle:hover {
  background-color: transparent;
}

.SettingsModal-Container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.SettingsModal-Container div {
  width: 50%;
}

.SettingsModal-Container h4 {
  font-size: 19px;
}

.SettingsModal-Container p {
  font-weight: 400;
  font-size: 15px;
}

.SettingsModal-Container button {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  width: 40%;
  height: 50px;
}

/* Operation profile end */

/*Login page*/

.Login *,
*::before,
*::after {
  box-sizing: border-box;
}

.ErrorMessage {
  color: rgb(252, 77, 77);
  text-align: center;
}

.Login h1 {
  font-weight: 700;
  color: #384047;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.Login a {
  font-size: 0.98em;
  color: #8a97a0;
  text-decoration: none;
}

.Login a:hover {
  color: green;
}

.ModalInput,
.ModalInput:focus {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 0.7em;
  margin-bottom: 1.2em;
  width: 100%;
}

.Login {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.Login form {
  background-color: #fff;
  padding: 2em;
  padding-bottom: 3em;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Login form input {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  width: 100%;
}

.Login form input:focus {
  outline: none;
}

.Login .LoginButton {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background-color: #324ab2;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.8em;
  margin-top: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.Login .LoginButton:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

.Login .LoginButton span {
  position: relative;
  z-index: 1;
}

.Login .LoginButton .circle {
  position: absolute;
  z-index: 0;
  background-color: #35a556;
  border-radius: 50%;
  transform: scale(0);
  opacity: 5;
  height: 50px;
  width: 50px;
}

.Login .LoginButton .circle.animate {
  animation: grow 0.5s linear;
}

/* pagination */

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 15px;
}

.pagination a,
.pagination span {
  border: none;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0);
  margin-right: 4px;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 27px -20px rgb(0 0 0 / 33%);
  -moz-box-shadow: 0 10px 27px -20px rgba(0, 0, 0, .33);
  box-shadow: 0 10px 27px -20px rgb(0 0 0 / 33%);
}

.pagination a.active {
  background-color: #000000;
  color: white;
  border-radius: 3px;
}

/* end pagination */

/* profile */

.profilePage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  height: 50vh;
}

.EditProfileButton {
  height: 60px;
  width: 35%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-left: auto;
}

.EditProfileData-Button {
  height: 50px;
  width: 35%;
  background-color: #18202D;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.profileCardInfo {
  width: 35%;
  height: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.531);
}

.profileCardInfo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileCardInfo-content p {
  height: 10px;
}

#labelInputFile {
  position: relative;
}

.profileCardInfo-image {
  height: 130px;
  width: 130px;
  border-radius: 80px;
}

#labelInputFile .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #00000047;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

#labelInputFile .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.ProfilePage-inputsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfilePage-inputsContainer .ProfilePage-inputsGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.ProfilePage-inputsContainer .ProfilePage-inputsGroup input {
  border: none;
  border-bottom: 1px solid rgb(153 153 153);
  border-radius: 0;
}

.ProfilePage-Modal {
  display: flex !important;
  align-items: center;
  overflow-y: hidden;
}

.ProfilePage-Modal .modal-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.ProfilePage-Modal .modal-dialog .modal-content {
  height: 50%;
  border-radius: 20px;
}

/* .profileCardInfo-imageContainer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */



/* .profileCardInfo-fileInput {
  width: 100%;
}

.profileCardInfo-inputsContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileCardInfo .profileCardInfo-inputsContainer .inputs-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 15px 0px;
}

.profileCardInfo .profileCardInfo-inputsContainer .inputs-group input {
  width: 100%;
  border-radius: 4px;
} */

/* end profile */

/* profiles navigation bar */

.ProfilesNavigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ProfilesNavigationBar .ProfilesNavigationBar-container {
  display: flex;
  width: 100%;
  height: 50%;
}

.ProfilesNavigationBar .ProfilesNavigationBar-container button {
  width: 25%;
  padding: 15px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(190, 190, 190);
}

.ProfilesNavigationBar .ProfilesNavigationBar-container button.active {
  border-bottom: 3px solid #324ab2;
}

.ProfilesNavigationBar .ProfilesNavigationBar-container button img {
  margin-right: 15px;
}

/* end profiles navigation bar */

/* footer */

footer {
  width: calc(100% - 80px);
  margin-left: auto;
}

/* end footer */
@media screen and (max-width: 1024px) {
  .OperationCard-name {
    font-size: 2.5vw;
  }

  .SearchContainer button,
  input,
  select {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {

  .userInfoCards-Container {
    width: 100%;
  }

  .OperationDescription {
    font-size: 15px;
  }

  .TargetDescription {
    font-size: 15px;
  }
}

@media (max-width: 755px) {
  .TaskCardContainer {
    width: 100%;
  }

  .NoteCardContainer {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 200vh;
    width: 50%;
    top: 69px;
    background-color: #1d2635;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform ease-in-out 0.3s;
  }

  .nav-ham-container {
    display: block;
    margin-right: 15px;
    margin-left: -15px;
  }

  .navActive {
    transform: translateX(0%);
  }

  .user-card {
    padding: 5px;
    width: 100px;
  }

  .user-img-top-bar {
    margin-right: 10px;
  }

  .user-name {
    font-size: 11px;
  }

  .OperationProfile .OperationProfileHeader {
    height: 270px;
  }

  .OperationProfile .OperationProfileInfo ul {
    font-size: 14px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(1) {
    font-size: 20px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(2) {
    font-size: 16px;
  }

  .userRecentAccess-Container {
    flex-wrap: wrap;
  }

  .profileCardInfo-imageContainer {
    width: 100%;
    height: 40%;
  }

  .profileCardInfo-inputsContainer {
    width: 100%;
    height: 60%;
  }

  .profileCardInfo {
    height: 700px;
  }

  .profileCardInfo-fileInput {
    width: auto;
  }

  .TargetProfile .TargetProfileInfo ul {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 14px;
  }

  .OperationCardContainer {
    width: 100% !important;
    margin-left: initial;
  }

  .userOperations-recent h4 {
    margin-left: initial;
  }

  .OperationCard-name {
    font-size: 20px;
  }

  .OperationProfile .OperationProfileHeader {
    height: 210px;
  }

  .OperationProfile .OptionsContainer li a {
    padding: 14px 0px;
    font-size: 14px;
  }

  .OperationProfile .OptionsContainer li a svg {
    font-size: 11px;
    margin-left: 2px !important;
  }

  .OperationProfile .OperationProfileInfo ul {
    font-size: 11px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(1) {
    font-size: 16px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(2) {
    font-size: 13px;
  }

  .SettingsModal-Container div {
    width: 95%;
  }

  .SettingsModal-Container h4 {
    font-size: 18px;
  }

  .SettingsModal-Container p {
    font-size: 14px;
  }

  .SettingsModal-Container button {
    margin-right: auto;
    margin-left: 5px;
    margin-top: 0px;
    width: 90%;
  }

  .TargetCardContainer {
    width: 100% !important;
    margin-left: initial;
  }

  .userTargets-recent h4 {
    margin-left: initial;
  }

  .TargetProfileSlider .btns-container {
    width: 100%;
  }

  .TargetProfileSlider .profile-slider-btn {
    padding: 10px;
  }

  .TargetProfile .OptionsContainer li a {
    padding: 14px 0px;
    font-size: 14px;
  }

  .TargetProfile .OptionsContainer li a svg {
    font-size: 11px;
    margin-left: 2px !important;
  }

  .TargetProfile .TargetProfileHeader {
    height: 210px;
  }

  .TargetProfile .TargetProfileInfo ul {
    font-size: 11px;
  }

  .TargetProfile img {
    width: 20%;
  }

  .OperationProfile img {
    width: 20%;
  }

  .OperationProfile .OperationProfileInfo ul {
    padding-left: 1rem;
  }

  .TargetProfile .TargetProfileInfo ul {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .pageHeader .pageHeader-icon {
    font-size: 55px;
  }

  .pageHeader .pageHeader-title {
    margin-left: 10px;
  }

  .pageHeader .pageHeader-title h1 {
    font-size: 25px;
  }

  .pageHeader .pageHeader-title p {
    font-size: 12px;
  }

  .user-name p {
    display: none;
  }

  .OperationProfile .OptionsContainer li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .OperationProfile .OptionsContainer li a svg {
    display: block;
    font-size: 15px;
    margin: 5px 0px;
  }

  .TargetProfile .OptionsContainer li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .TargetProfile .OptionsContainer li a svg {
    display: block;
    font-size: 15px;
    margin: 5px 0px;
  }
}

@keyframes grow {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}