@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  color: black;
  font-family: 'grInter';
  font-weight: bold;
  overflow-x: hidden;
  position: relative;
}

/* top-bar */

p {
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

select,
button {
  line-height: initial !important;
}

ul {
  margin-top: 1em !important;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out !important;
}

.fade {
  transition: opacity .15s linear;
}

.NavBar {
  background-color: #1d2635;
  padding: 5px;
  height: 90px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.nav-ham-container .ham {
  padding: 15px;
  outline: 2px solid rgb(191, 191, 191);
  border-radius: 5px;
  cursor: pointer;
}

.nav-ham-container .ham div {
  width: 26px;
  height: 3px;
  background-color: rgb(202, 202, 202);
  margin-bottom: 4px;
}

.nav-ham-container {
  display: inline-block;
  float: right;
  display: none;
}

/* end-top-bar */

/* nav menu */

.user-card {
  color: white;
  width: 210px;
  border-radius: 10px;
  display: inline-block;
}

.user-img-top-bar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 10px;
  float: left;
}

.user-name {
  color: white;
  font-size: 12px;
  padding: 1px;
}

.user-name p {
  margin-left: 35% !important;
}

.nav-menu {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.nav-menu .option {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 20px;
  color: rgb(170, 170, 170);
}

.nav-menu .option:hover {
  color: rgb(212, 212, 212);
}

/* user-card-end */

/* dashboard */
.dashboard {
  /* margin: auto;
  height: auto;
  width: 90%;
  padding: 15px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 25px;
}

.userInfoCards-Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin-top: 40px;
}

.userInfoCards-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  font-weight: 500;
  padding: 20px;
  margin: 15px 0px;
  border: 2px solid #dddce0;
  border-radius: 7px;
}

.userInfoCards-recentPosts {
  height: 300px;
  overflow-y: scroll;
}

.userInfoCards-recentPosts .postCard {
  margin: 15px 0px;
  height: auto;
  border: 2px solid #dddce0;
  border-radius: 10px;
}

.userInfoCards-recentPosts .postCard-content {
  display: flex;
  padding: 20px 10px;
}

.userInfoCards-recentPosts .postCard-content img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfoCards-recentPosts .postCard-content .postCard-text {
  font-weight: 400;
}

.userInfoCards-recentTargets {
  height: 300px;
  overflow-y: scroll;
}

.userInfoCards-recentTargets .targetCard {
  margin: 15px 0px;
  height: auto;
  border: 2px solid #dddce0;
  border-radius: 10px;
}

.userInfoCards-recentTargets .targetCard-content {
  display: flex;
  padding: 20px 10px;
}

.userInfoCards-recentTargets .targetCard-content img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfoCards-recentTargets .targetCard-content .targetCard-text {
  font-weight: 400;
}

.userInfoCards-card .userInfoCards-NextLevel {
  margin-left: auto;
  margin-right: 5px;
  color: rgb(181, 181, 181);
}

.userInfoCards-card .userInfoCards-NextLevel p span {
  color: rgb(3, 165, 209);
}

.userInfoCards-card .userInfoCards-ProgressBar .progress {
  height: 1.2rem;
}

.userInfoCards-card .userInfoCount span {
  color: rgb(2, 97, 123);
}

.userRecentAccess-Container {
  margin-top: 20px;
  width: 50%;
}

.userOperations-recent {
  width: 100%;
}

.userTargets-recent {
  width: 100%;
}

.userOperations-recent h4 {
  margin-left: 20px;
  font-weight: 400;
}

.userTargets-recent h4 {
  margin-left: 20px;
  font-weight: 400;
}

/* end-dashboard */

.ConstRadius {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}

/* operations */
.Operations {
  margin: auto;
  height: auto;
  width: 90%;
}

.SearchContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.SearchContainer button,
input,
select {
  border: 1px #e0e0e0 solid;
  padding: 13px;
  border-radius: 1px;
  font-size: 15px;
  white-space: nowrap;
}

.SearchContainer button {
  color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.SearchContainer select {
  background-color: white;
  width: 15rem;
}

.targetsSearchContainer select {
  background-color: white;
  width: 26rem;
}

.SearchContainer input:focus {
  outline: none;
}

.SearchContainer .Search {
  width: 30rem;
  border: 1px #e0e0e0 solid;
}

.SearchContainer .NewObject {
  border-radius: 5px;
  width: 9.5rem;
  background-color: #324ab2;
  color: white;
}

.SearchContainer .NewObject:hover {
  cursor: pointer;
}

.OperationCardContainer {
  border: #e0e0e0 1px solid;
  float: left;
  width: 45%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.OperationCard-name {
  position: absolute;
  bottom: -17px;
  left: 0px;
  background-color: #324ab2;
  padding: 5px;
  font-size: 20px;
  border-top-right-radius: 3px;
  color: white;
}

.OperationCardContainer .OperationImg {
  width: 100%;
  height: 250px;
}

.OperationCardContainer .OperationImg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.OperationDescription {
  padding: 5px;
}

.OperationCardContainerButton {
  width: 100%;
  background-color: #324ab2;
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.OperationCardContainerButton:hover {
  cursor: pointer;
}

.SearchContainer div:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}

/* end-operations */

/* targets */
.Targets {
  margin: auto;
  height: auto;
  width: 90%;
}

.TargetCardContainer {
  border: #e0e0e0 1px solid;
  float: left;
  width: 45%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.TargetCardContainer .TargetImg {
  width: 100%;
  height: 250px;
}

.TargetCardContainer .TargetImg img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.TargetDescription {
  padding: 5px;
}

.TargetCardContainer .TargetCardContainerButton {
  width: 100%;
  background-color: #324ab2;
  color: white;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TargetCardContainer .TargetCardContainerButton:hover {
  cursor: pointer;
}

/* end-targets */

/* TargetProfile */
.TargetProfile {
  height: auto;
  width: 100%;
}

.TargetProfile .TargetProfileContent {
  width: 90%;
  margin: auto;
}

.TargetProfile img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid #c7c7c7;
  padding-right: 1px;
}

.TargetProfile .TargetProfileInfo {
  width: "100%";
}

.TargetProfile .TargetProfileHeader {
  height: 300px;
  display: flex;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  background-color: #fafcff;
}

.TargetProfile .TargetProfileInfo ul {
  list-style: none;
  font-weight: 500;
}

.TargetProfileSlider {
  width: 100%;
  margin-top: 20px;
}

.TargetProfile .SearchContainer {
  margin: 20px;
}

.TargetProfile .SearchContainer .NewObject {
  width: 8.5rem;
}

.TargetProfile .OptionsContainer {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-top: -20px !important;
}

.TargetProfile .OptionsContainer li {
  float: left;
  width: 25%;
}

.TargetProfile .OptionsContainer li a {
  display: block;
  background-color: #1d2635;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border-right: 2px solid rgb(158, 158, 158);
  border-bottom: 2px solid rgb(158, 158, 158); */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.TargetProfile .OptionsContainer li a:hover {
  background-color: #324ab2;
  color: white;
}

/* TargetProfile-end */

/* NoteCard */

.NoteCardContainer {
  width: 33%;
  text-align: center;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px;
  border: #e0e0e0 1px solid;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.NoteCardContainer hr {
  width: 100%;
  color: rgba(43, 42, 42, 0.514);
}

.NoteTitle {
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.NoteContent {
  text-align: left;
  padding: 20px;
  font-size: 13px;
}

.BtnNote {
  width: 100%;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #324ab2;
  padding: 10px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TargetProfile .RelationSlide {
  height: auto;
  padding-top: 20px;
}

/* NoteCard-end */

/* Operation profile */

.OperationProfile {
  height: auto;
  width: 100%;
}

.OperationProfileContent {
  margin: auto;
  width: 90%;
}

.PostsSlide {
  height: auto;
}

.OperationProfile img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid #c7c7c7;
  padding-right: 1px;
}

.OperationProfile .OperationProfileInfo {
  width: "100%";
}

.OperationProfile .OperationProfileInfo ul {
  font-size: 15px;
}

.OperationProfile .OperationProfileInfo ul li:nth-of-type(1) {
  font-size: 23px;
}

.OperationProfile .OperationProfileInfo ul li:nth-of-type(2) {
  font-size: 18px;
}

.OperationProfile .OperationProfileInfo ul li:nth-of-type(3) {
  margin-top: 10px;
}



.OperationProfile .OperationProfileHeader {
  height: 300px;
  display: flex;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  background-color: #fafcff;
}

.OperationProfile .OperationProfileInfo ul {
  list-style: none;
  font-weight: 500;
}

.OperationProfileSlider {
  width: 100%;
  margin-top: 20px;
}

.OperationProfileSlider .profile-slider-btn {
  display: inline-block;
  margin-left: 10px;
  width: 30%;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

.OperationProfile .SearchContainer {
  margin: 20px;
}

.OperationProfile .SearchContainer .NewObject {
  width: 8.5rem;
}

.OperationProfile .TargetsSlide {
  height: auto;
  padding-top: 20px;
}

.OperationProfile .Post {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 2px rgb(179, 179, 179) solid;
  border-left: 5px solid #324ab2;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.OperationProfile .Post .Postauthor {
  margin: 5px;
}

.OperationProfile .Post .PostContent {
  color: rgb(88, 88, 88);
  margin: 5px;
}

.OperationProfile .Post hr {
  width: 100%;
  color: rgba(43, 42, 42, 0.514);
}

.OperationProfile .Post .PostComments {
  color: rgb(88, 88, 88);
  margin: 5px;
  font-size: 13px;
}

.OperationProfile .OptionsContainer {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(251, 251, 251);
  margin-top: -20px !important;
}

.OperationProfile .OptionsContainer li {
  float: left;
  width: 25%;
}

.OperationProfile .OptionsContainer li a {
  display: block;
  background-color: #1d2635;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border-right: 2px solid rgb(158, 158, 158);
  border-bottom: 2px solid rgb(158, 158, 158); */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.OperationProfile .OptionsContainer li a:hover {
  background-color: #324ab2;
  color: white;
}

.TaskCardContainer {
  width: 20%;
  text-align: center;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px;
  border: #e0e0e0 1px solid;
  -webkit-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.TaskCardContainer hr {
  width: 100%;
  color: rgba(43, 42, 42, 0.514);
}

.TaskTitle {
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.TaskContent {
  text-align: left;
  padding: 10px;
  font-size: 13px;
}

.BtnTask {
  width: 100%;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #324ab2;
  padding: 10px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TaskAgent {
  text-align: left;
  color: rgb(88, 88, 88);
  padding: 0px 10px;
  font-size: 13px;
}

.SettingsModal-Container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.SettingsModal-Container div {
  width: 50%;
}

.SettingsModal-Container h4 {
  font-size: 19px;
}

.SettingsModal-Container p {
  font-weight: 400;
  font-size: 15px;
}

.SettingsModal-Container button {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  width: 40%;
  height: 50px;
}

/* Operation profile end */

/*Login page*/

.Login *,
*::before,
*::after {
  box-sizing: border-box;
}

.ErrorMessage {
  color: rgb(252, 77, 77);
  text-align: center;
}

.Login h1 {
  font-weight: 700;
  color: #384047;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.Login a {
  font-size: 0.98em;
  color: #8a97a0;
  text-decoration: none;
}

.Login a:hover {
  color: green;
}

.ModalInput,
.ModalInput:focus {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 0.7em;
  margin-bottom: 1.2em;
  width: 100%;
}

.Login {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.Login form {
  background-color: #fff;
  padding: 2em;
  padding-bottom: 3em;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Login form input {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
  width: 100%;
}

.Login form input:focus {
  outline: none;
}

.Login .LoginButton {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background-color: #324ab2;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.8em;
  margin-top: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.Login .LoginButton:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

.Login .LoginButton span {
  position: relative;
  z-index: 1;
}

.Login .LoginButton .circle {
  position: absolute;
  z-index: 0;
  background-color: #35a556;
  border-radius: 50%;
  transform: scale(0);
  opacity: 5;
  height: 50px;
  width: 50px;
}

.Login .LoginButton .circle.animate {
  animation: grow 0.5s linear;
}

@media screen and (max-width: 1212px) {
  .SearchContainer div {
    display: flex;
    width: 100%;
    margin: 5px 0px !important;
  }

  .SearchContainer div input,
  .SearchContainer div select {
    width: 100% !important;
  }

  .SearchContainer div:nth-of-type(2) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .OperationCard-name {
    font-size: 2.5vw;
  }

  .SearchContainer button,
  input,
  select {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .userRecentAccess-Container {
    width: 100%;
    display: flex;
  }

  .userInfoCards-Container {
    width: 100%;
  }

  .OperationDescription {
    font-size: 15px;
  }

  .TargetDescription {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 200vh;
    width: 50%;
    top: 69px;
    background-color: #1d2635;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform ease-in-out 0.3s;
  }

  .nav-ham-container {
    display: block;
    margin-right: 15px;
    margin-left: -15px;
  }

  .navActive {
    transform: translateX(0%);
  }

  .user-card {
    padding: 15px;
    width: 170px;
  }

  .user-img-top-bar {
    margin-right: 10px;
  }

  .user-name {
    font-size: 11px;
  }

  .OperationProfile .OperationProfileHeader {
    height: 270px;
  }

  .OperationProfile .OperationProfileInfo ul {
    font-size: 14px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(1) {
    font-size: 20px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(2) {
    font-size: 16px;
  }

  .userRecentAccess-Container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .OperationCardContainer {
    width: 90%;
  }

  .OperationCard-name {
    font-size: 20px;
  }

  .OperationProfile .OperationProfileHeader {
    height: 210px;
  }

  .OperationProfile .OptionsContainer li a {
    padding: 14px 0px;
    font-size: 14px;
  }

  .OperationProfile .OptionsContainer li a svg {
    font-size: 11px;
    margin-left: 2px !important;
  }

  .OperationProfile .OperationProfileInfo ul {
    font-size: 11px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(1) {
    font-size: 16px;
  }

  .OperationProfile .OperationProfileInfo ul li:nth-of-type(2) {
    font-size: 13px;
  }

  .SettingsModal-Container div {
    width: 95%;
  }

  .SettingsModal-Container h4 {
    font-size: 18px;
  }

  .SettingsModal-Container p {
    font-size: 14px;
  }

  .SettingsModal-Container button {
    margin-right: auto;
    margin-left: 5px;
    margin-top: 0px;
    width: 90%;
  }

  .TargetCardContainer {
    width: 90%;
  }

  .TargetProfileSlider .btns-container {
    width: 100%;
  }

  .TargetProfileSlider .profile-slider-btn {
    padding: 10px;
  }

  .TargetProfile .OptionsContainer li a {
    padding: 14px 0px;
    font-size: 14px;
  }

  .TargetProfile .OptionsContainer li a svg {
    font-size: 11px;
    margin-left: 2px !important;
  }

  .NoteCardContainer {
    width: 50%;
  }
}

@keyframes grow {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}